
<div class="container topmanage">
    <div class="row">
      
       <div class="col-md-6 col-6">
        <b class="ml-auto heading">Vehicle Entry & Exit</b>
       </div>
       <div class="col-md-6 col-6 ">
        <button class="float-right" mat-icon-button>
        <mat-icon><b>download</b></mat-icon> &nbsp;
      </button>
      <button class="float-right" mat-icon-button>
        <mat-icon>filter_alt</mat-icon> &nbsp;
      </button>
       </div>
    </div>
    <br>
  <table class="table table-hover table-responsive">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Total - In </th>
        <th scope="col">Total - Out</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>10-12-2020</td>
        <td>528</td>
        <td>213</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>11-12-2020</td>
        <td>787</td>
        <td>898<td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>13-12-2020</td>
        <td>5533</td>
        <td>5442</td>
      </tr>
    </tbody>
  </table>
</div> 