<br />
<br />
<br /><br /><br />
<h3 class="text-center">waiting-container</h3>

<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
     >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>MH14EX9044</p>
      </mat-panel-title>
      <mat-panel-description>
        <p>Receipt # : 129099921</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="col-md-12 col-12">
      <div class="row">
        <div class="col-6">
          <b>Destination </b>
          <p>J 20</p>
        </div>

        <div class="col-6">
          <b>Container No:</b>
          <p>766763635</p>
        </div>
        <div class="col-6">
          <b>Seal No:</b>
          <p>1234566778</p>
        </div>

        <div class="col-6">
          <b>CHA No:</b>
          <p>678754</p>
        </div>

        <div class="col-6">
          <b>Shipping No:</b>
          <p>232212122</p>
        </div>
        <div class="col-6">
            <b>Shipping Date:</b>
            <p>10-12-2020</p>
        </div>
        <!-- <div class="col-6">
          <b>Container Type:</b>
          <p>20</p>
        </div> -->
        <div class="col-6">
          <b>In Time</b>
          <p>8-12-20</p>
        </div>
        <div class="col-6">
          <b>Out Time:</b>
          <p>10-12-20</p>
        </div>
        <div class="col-6">
          <b>Parking Time:</b>
          <p>40h 44m</p>
        </div>
        <div class="col-6">
          <b>Ammount:</b>
          <p>600</p>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>MH12DK0005</p>
        </mat-panel-title>
        <mat-panel-description>
          <p>Receipt # : 429099921</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="col-md-12 col-12">
        <div class="row">
          <div class="col-6">
            <b>Destination </b>
            <p>J 20</p>
          </div>
  
          <div class="col-6">
            <b>Container No:</b>
            <p>766763635</p>
          </div>
          <div class="col-6">
            <b>Seal No:</b>
            <p>1234566778</p>
          </div>
  
          <div class="col-6">
            <b>CHA No:</b>
            <p>678754</p>
          </div>
  
          <div class="col-6">
            <b>Shipping No:</b>
            <p>232212122</p>
          </div>
          <div class="col-6">
              <b>Shipping Date:</b>
              <p>10-12-2020</p>
          </div>
          <!-- <div class="col-6">
            <b>Container Type:</b>
            <p>20</p>
          </div> -->
          <div class="col-6">
            <b>In Time</b>
            <p>8-12-20</p>
          </div>
          <div class="col-6">
            <b>Out Time:</b>
            <p>10-12-20</p>
          </div>
          <div class="col-6">
            <b>Parking Time:</b>
            <p>40h 44m</p>
          </div>
          <div class="col-6">
            <b>Ammount:</b>
            <p>600</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>CH20EX3334</p>
        </mat-panel-title>
        <mat-panel-description>
          <p>Receipt # : 3243243</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="col-md-12 col-12">
        <div class="row">
          <div class="col-6">
            <b>Destination </b>
            <p>J 20</p>
          </div>
  
          <div class="col-6">
            <b>Container No:</b>
            <p>766763635</p>
          </div>
          <div class="col-6">
            <b>Seal No:</b>
            <p>1234566778</p>
          </div>
  
          <div class="col-6">
            <b>CHA No:</b>
            <p>678754</p>
          </div>
  
          <div class="col-6">
            <b>Shipping No:</b>
            <p>232212122</p>
          </div>
          <div class="col-6">
              <b>Shipping Date:</b>
              <p>10-12-2020</p>
          </div>
          <!-- <div class="col-6">
            <b>Container Type:</b>
            <p>20</p>
          </div> -->
          <div class="col-6">
            <b>In Time</b>
            <p>8-12-20</p>
          </div>
          <div class="col-6">
            <b>Out Time:</b>
            <p>10-12-20</p>
          </div>
          <div class="col-6">
            <b>Parking Time:</b>
            <p>40h 44m</p>
          </div>
          <div class="col-6">
            <b>Ammount:</b>
            <p>600</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
    