<div class="container topmanage">
  <div class="row">
        <div class="col-md-6 col-6">
         <b class="ml-auto heading">Waiting Container</b>
        </div>
        <div class="col-md-6 col-6 ">
         <button
          class="float-right"
           mat-icon-button 
           (click)="ExportWaitingContainerData(pagination)"
           >
         <mat-icon><b>download</b></mat-icon> &nbsp;
       </button>
       <button  class="float-right" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>filter_alt</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item 
        (click)="onHourSelect($event)"
        mat-menu-item
        *ngFor="let Hour of HourFilter;let i=index"
        [value]="Hour.value"
        >
          <span>{{Hour.NAME}}</span>
        </button>
      </mat-menu>
        </div>
     </div>
   </div>
<mat-accordion>
  <mat-expansion-panel
  *ngFor="let data of containerHistory"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
     >
    <mat-expansion-panel-header>
      <div class="col-md-6">
       <b>Vehicle No </b> <p>{{data.vehicleNumber}}</p>
       <b>Destination </b> <p>{{data.destination}}</p>
      </div>
      <div class="col-md-6">
        <b>Reciept No </b>  <p>{{data.receiptNo}}</p>
      </div>
    </mat-expansion-panel-header>
    <div class="col-md-12 col-12">
      <div class="row">
        <div class="col-6">
          <b>Container type </b>
          <p>{{data.containerType}}</p>
        </div>

        <div class="col-6">
          <b>Container No</b>
          <p>{{data.containerNumber}}</p>
        </div>
        <div class="col-6">
          <b>Seal No</b>
          <p>{{data.sealNumber1}}</p>
          <p>{{data.sealNumber2}}</p>
          <p>{{data.sealNumber3}}</p>
          <p>{{data.sealNumber4}}</p>

          
        </div>

        <div class="col-6">
          <b>CHA No</b>
          <p>{{data.chaNumber}}</p>
        </div>

        <div class="col-6">
          <b>Shipping Bill No</b>
          <p>{{data.shippingBillNumber}}</p>
        </div>
        <div class="col-6">
            <b>Shipping Bill Date</b>
            <p>{{data.shippingBillDate | date:'short'}}</p>
        </div>
        <!-- <div class="col-6">
          <b>Container Type:</b>
          <p>20</p>
        </div> -->
        <div class="col-6">
          <b>In Time</b>
          <p>{{data.addedOn | date:'short' }}</p>
        </div>
        <div class="col-6">
          <b>Out Time</b>
          <p>{{data.checkOutDateTime | date:'short'}}</p>
        </div>
        <div class="col-6">
          <b>Parking Time</b>
          <p></p>
        </div>
        <div class="col-6">
          <b>Amount (Rs)</b>
          <p>{{data.amount}}</p>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  
  </mat-accordion>
  <mat-paginator
  #paginator
  [pageSize]="pagination.pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true"
  [length]="pagination.totalCount"
  [pageIndex]="pagination.PageNumber"
  (page)="pageEvent = onPageChange($event)"
>
</mat-paginator>