<br>
<br><br>
<br>
<div class="container-fluid">
  <div class="text-center">
    <h3>Vehicle Parking</h3>
  </div>
  <table class="table table-hover table-responsive">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Receipt</th>
        <th scope="col">Vehicle No</th>
        <th scope="col">Destination</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>100129112</td>
        <td>MH14EX9044</td>
        <td>******</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>2100129112</td>
        <td>MH14EX9044</td>
        <td>******</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>2100129112</td>
        <td>MH14EX9044</td>
        <td>******</td>
      </tr>
    </tbody>
  </table>
</div>
