<div class="container topmanage">
  <div class="row">
    <div class="col-md-6 col-6">
      <b class="ml-auto heading">Vehicle Parking</b>
    </div>
    <div class="col-md-6 col-6">
      <button
        class="float-right"
        mat-icon-button
        (click)="ExportVehicleData(pagination)"
      >
        <mat-icon><b>download</b></mat-icon> &nbsp;
      </button>

      <button class="float-right" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>filter_alt</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          (click)="onHourSelect($event)"
          mat-menu-item
          *ngFor="let Hour of HourFilter;let i=index"
          [value]="Hour.value"
        >
          <span>{{Hour.NAME}}</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<mat-accordion>
  <mat-expansion-panel
    *ngFor="let VehicleHistory of containerHistory"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <div class="col-md-6">
        <b>Vehicle No </b>
        <p>{{VehicleHistory.vehicleNumber}}</p>
        <b>Destination </b>
        <p>{{VehicleHistory.destination}}</p>
      </div>
      <div class="col-md-6">
        <b>Reciept No </b>
        <p>{{VehicleHistory.receiptNo}}</p>
      </div>
    </mat-expansion-panel-header>
    <div class="col-md-12 col-12">
      <div class="row">
        <!-- <div class="col-6">
            <b>Destination </b>
            <p>{{VehicleHistory.destination}}</p>
          </div> -->
        <div class="col-6">
          <b>Container No:</b>
          <p>{{VehicleHistory.containerNumber}}</p>
        </div>
        <div class="col-6">
          <b>Seal No:</b>
          <p>{{VehicleHistory.sealNumber1}}</p>
          <p>{{VehicleHistory.sealNumber2}}</p>
          <p>{{VehicleHistory.sealNumber3}}</p>
          <p>{{VehicleHistory.sealNumber4}}</p>
        </div>
        <div class="col-6">
          <b>CHA No:</b>
          <p>{{VehicleHistory.chaNumber}}</p>
        </div>
        <div class="col-6">
          <b>Shipping No:</b>
          <p>{{VehicleHistory.shippingBillNumber}}</p>
        </div>
        <div class="col-6">
          <b>Shipping Date:</b>
          <p>{{VehicleHistory.shippingBillDate | date:'short'}}</p>
        </div>
        <!-- <div class="col-6">
            <b>Container Type:</b>
            <p>20</p>
          </div> -->
        <div class="col-6">
          <b>In Time</b>
          <p>{{VehicleHistory.addedOn | date:'short' }}</p>
        </div>
        <div class="col-6">
          <b>Out Time:</b>
          <p>{{VehicleHistory.checkOutDateTime | date:'short'}}</p>
        </div>
        <div class="col-6">
          <b>Parking Time:</b>
          <p>{{VehicleHistory.parkingTime}}</p>
        </div>
        <div class="col-6">
          <b>Amount (Rs):</b>
          <p>{{VehicleHistory.amount}}</p>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<!-- <mat-paginator [length]="pagination.totalCount"
              [pageSize]="pagination.pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = onPageChange($event)">
</mat-paginator> -->
<mat-paginator
  #paginator
  [pageSize]="pagination.pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true"
  [length]="pagination.totalCount"
  [pageIndex]="pagination.PageNumber"
  (page)="pageEvent = onPageChange($event)"
>
</mat-paginator>
